body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    width: 1170px;
    height: auto;
}

h1 {
    text-align: center;
}

label {
    margin: 11px 0 3px 0;
    color: #222222;
    display: block;

}

select {
    display: block;
    border: 1px solid grey;
    width: 100px;
    height: 20px;
    background-color: white;
    border-radius: 0;
}

button {
    display: block;
}

.items {
    width: 24%;
    float: left;
    padding-right: 10px;
}